# Work for TDI project
_Calvin Whealton_

In [1]:
import numpy as np
import pandas as pd
import geopandas as geopd
import os
import requests

## Housing Data
Loading a housing datasets from Realtor.com. There is historical and current data and also a historical housing hotness index.

In [2]:
data_historical = pd.read_csv('https://econdata.s3-us-west-2.amazonaws.com/Reports/Core/RDC_Inventory_Core_Metrics_Zip_History.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_historical.shape[0]

764087

In [4]:
data_historical.head()

,month_date_yyyymm,postal_code,zip_name,flag,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,202006,72202,"little rock, ar",*,220050.0,-0.0443,-0.0317,68.0,0.0625,NaN,...,0.1392,319255.0,-0.0217,0.0814,69.0,0.0299,-0.2660,0.0147,-0.0322,-0.1316
1,202006,8826,"glen gardner, nj",*,420000.0,0.0001,NaN,17.0,0.2143,NaN,...,-1.0000,412735.0,0.0178,0.0428,17.0,0.2143,-0.6600,0.0000,0.0000,0.0000
2,202006,39110,"madison, ms",*,439500.0,0.0267,0.0986,319.0,-0.0449,-0.2927,...,0.0422,502673.0,0.0272,0.0519,454.0,-0.1028,-0.2570,0.4232,-0.0918,0.0684
3,202006,33315,"fort lauderdale, fl",NaN,414999.5,0.0400,0.1431,120.0,-0.0476,-0.0909,...,0.0392,481165.0,0.0292,0.1880,160.0,0.0256,-0.0751,0.3333,0.0952,0.0227
4,202006,85028,"phoenix, az",*,559500.0,0.2031,NaN,38.0,-0.2830,NaN,...,0.0380,661872.0,0.0292,0.1409,100.0,0.0989,-0.2366,1.6316,0.9146,1.0904

In [5]:
len(data_historical['postal_code'].unique())

30223

In [7]:
data_historical.tail()

,month_date_yyyymm,postal_code,zip_name,flag,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
764082,201607,30316,"atlanta, ga",NaN,259950.0,NaN,NaN,248.0,NaN,NaN,...,NaN,274592.0,NaN,NaN,399.0,NaN,NaN,0.6089,NaN,NaN
764083,201607,60013,"cary, il",NaN,275050.0,NaN,NaN,168.0,NaN,NaN,...,NaN,316333.0,NaN,NaN,272.0,NaN,NaN,0.6190,NaN,NaN
764084,201607,74857,"newalla, ok",NaN,222050.0,NaN,NaN,42.0,NaN,NaN,...,NaN,263555.0,NaN,NaN,42.0,NaN,NaN,0.0000,NaN,NaN
764085,201607,70357,"golden meadow, la",NaN,159050.0,NaN,NaN,23.0,NaN,NaN,...,NaN,225412.0,NaN,NaN,24.0,NaN,NaN,0.0435,NaN,NaN
764086,* year-over-year figures impacted in this area...,please contact economics@realtor.com for more...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data_current = pd.read_csv('https://econdata.s3-us-west-2.amazonaws.com/Reports/Core/RDC_Inventory_Core_Metrics_Zip.csv')

,month_date_yyyymm,postal_code,zip_name,flag,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,202005,23901.0,"farmville, va",*,249950.0,0.0200,0.2346,71.0,-0.0897,-0.0405,...,-0.0578,254887.0,0.0064,0.0317,113.0,-0.0887,-0.0424,0.5915,0.0018,-0.0030
1,202005,19151.0,"philadelphia, pa",*,165049.0,0.1000,0.0476,23.0,0.0952,-0.6230,...,-0.0498,168108.0,0.0799,0.0302,27.0,0.0000,-0.6400,0.1739,-0.1118,-0.0556
2,202005,33186.0,"miami, fl",NaN,330050.0,-0.0177,-0.0075,147.0,-0.1198,-0.2794,...,0.0048,366788.0,-0.0130,0.0175,251.0,-0.0564,-0.3123,0.7075,0.1147,-0.0817
3,202005,45429.0,"dayton, oh",*,284950.0,0.0672,0.5407,31.0,-0.0882,-0.6667,...,0.2504,351173.0,0.0814,0.3322,90.0,-0.0323,-0.3960,1.9032,0.1679,1.3011
4,202005,83014.0,"wilson, wy",NaN,2750050.0,-0.0590,-0.0833,32.0,0.0667,-0.2727,...,0.0183,4563445.0,-0.0837,0.2718,40.0,0.0811,-0.1837,0.2500,0.0167,0.1364

In [6]:
data_hotness = pd.read_csv('https://econdata.s3-us-west-2.amazonaws.com/Reports/Hotness/RDC_Inventory_Hotness_Metrics_Zip_History.csv')

49

## Stream Gage Data
Loading Stream Gage data from USGS. Pre-sorted to only include those with more than 20 years of data

In [24]:
os.chdir('/Users/calvinwhealton/Documents/GitHub/tdi_capstone/peak_data')
gages = pd.read_csv('usgs_gages.txt',sep='\t',skiprows=20,dtype=str)
gages.head()

  agency_cd   site_no                                     station_nm\n
0      USGS  01010000       St. John River at Ninemile Bridge, Maine\n
1      USGS  01010070          Big Black River near Depot Mtn, Maine\n
2      USGS  01010500                St. John River at Dickey, Maine\n
3      USGS  01011000            Allagash River near Allagash, Maine\n
4      USGS  01011500  St. Francis River near Connors, New Brunswick\n

Index(['agency_cd', 'site_no', 'station_nm\n'], dtype='object')

KeyError: 'station_nm\n'